@font-face
  font-family: 'f'
  font-weight: normal
  src: url("../fonts/fr.woff2") format("woff2")
@font-face
  font-family: 'f'
  font-weight: bold
  src: url("../fonts/fb.woff2") format("woff2")

// @font-face
//   font-family: 'a'
//   font-weight: normal
//   src: url("../fonts/al.woff2") format("woff2")
// @font-face
//   font-family: 'a'
//   font-weight: bold
//   src: url("../fonts/ab.woff2") format("woff2")

// @font-face
//   font-family: 'f'
//   src: url('../fonts/f-Bold.woff2') format("woff2"), url('../fonts/f-Bold.woff') format("woff")
//   font-weight: bold
//   font-style: normal
//   font-display: swap

// @font-face
//   font-family: 'f'
//   src: url('../fonts/f-Regular.woff2') format("woff2"), url('../fonts/f-Regular.woff') format("woff")
//   font-weight: normal
//   font-style: normal
//   font-display: swap